registry=https://registry.npmjs.org/
save-exact=true # Forces to save the exact dependency version.
ignore-scripts=true # Prevents npm from running lifecycle scripts (preinstall, postinstall, ...)
min-release-age=3 # Rejects packages youngers than 3 days ago.
allow-git=none # Doesn't allow npm i git+https://...
allow-remote=none # Doesn't allow arbitrary URLs for npm i.
allow-file=none # No file: path dependencies.
allow-directory=none # No local directory installs.
audit=true # Enables vulnerability auditing on every npm i.
audit-level=critical # Makes audit command to fail if there are critical vulnerabilities.
