:root {
    padding-top: 24px;
}

.scanContainer {
    width: 66vw;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px): {
        width: 50vw;
    }

    @media (min-width: 768px): {
        width: 57vw;
    }
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: auto;
}

.faceCaptureWrapper {
    border-radius: 20px;
    overflow: hidden;
}

.img {
    width: 100%;
    border-radius: 20px;
}

.optionsDiv {
    margin-top: 15px;
    border: 2px solid;
    border-color: #1976d2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: space-evenly;
}

.response {
    margin-top: 16px;
    min-height: 180px;
    border: 2px solid;
    border-color: #1976d2;
    border-radius: 20px;
    min-width: 80%;
    padding: 8px;
}

.error {
    border-color: #d32f2f;
}

.responseTitle {
    font-weight: bold;
    color: #1976d2;
}

.responseTitleError {
    color: #d32f2f;
}

.restartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #2875bc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
    margin-top: 16px;
}

.restartButton:hover {
    background-color: #27619b;
}

.restartButton svg {
    width: 18px;
    height: 18px;
    fill: white;
}

.loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #3f51b5;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}
